@import "~bootstrap/scss/bootstrap";

.card-img-standard {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.detail-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 600px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
